tasks styles
.add-block-container{
    display: flex;
    justify-content: center;
}

.add-block-div{
    padding: 0px;
    max-width: 450px;
    min-width: 380px;
    display: flex;
}

.add-task-bar{
    cursor: pointer;
}

.blocks-list{
    padding: 10px 10px 10px 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.block-div{
    background-color: #021b5aa1;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
    max-width: 350px;
}


.task-title{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.task-checkbox{
    position: absolute;
    left: 1px;
    bottom: 2px;
    color: white;
    margin-top: 5px;
}

.task-list{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
}

.task-item, .username-item{
    list-style: none;
    font-size: 14px;
    width: 100%;
    color: #ffffff;
    display: flex;
    overflow-wrap: break-word;
}

.username-item{
    color: rgb(27, 27, 27);
    margin-bottom: 0px;
    font-size: 16px;
}

.task-description{
    margin: 0;
    word-break: break-all;
}

.del-task-icon, .del-block-icon{
    color: #ffffff;
    position: relative;
    right: 1px;
    bottom: 1px;
}

.del-block-icon{
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.del-task-icon{
    position: absolute;
    right: 0px;
    padding-top: 3px;
}

.done{
    color: #c0c0c0;
}

.add-task-form,.add-block-form{
    background-color: rgb(226, 226, 250);
    color: black;  
}


.add-task-form-icon, .add-block-icon{
    color: rgb(0, 0, 0);
}

.perfil{
    width: 250px;
    margin-left: 300px;
    color: rgb(70, 70, 70);
}

.username{
    font-size: 20px;
}

.alert-error{
    list-style: none;
}

.del-user-icon{
    right: 1px;
}

div{
    display: block;
}