<!-- tasks index -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/tasks.css' %}">

<div class="container add-div-block">
    <!-- Add Note -->
    <div class="col-5 add-div">
        <input class = "form-control" type= "text" name="add-div-title" id="add-div-title" placeholder="Add new block...">
        <i class="far fa-plus-square"></i>
    </div>
</div>

<!-- <div class="blocks-list">
    <div class="block-div">
        <span class="task-title">Title</span>
            <ul class="task-list">
                <li class="task-item">
                    task 1
                </li>
                <li class="task-item">
                    task 2
                </li>
                <li class="task-item">
                    task 3
                </li>
            </ul>
    </div> -->

<div class="card-columns blocks-list">
        
        {% if blocks %}
        {% for block in blocks %}
        <div class="card block-div">
            <div class="card-body task-list">
                <h5 class="card-title task-title">{{block.title}}</h5>
                <ul class="task-list">
                    {% for task in tasks %}
                    {% if task.block == block %}
                    <li class="task-item">
                        {{task.description}}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>   
            </div>
        </div>
        {% endfor %}
        {% endif %}
</div>

{% endblock %}