<!-- tasks index -->

{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/tasks.css' %}">

<div class="container add-block-container">
    <!-- Add Note -->
    <form method="POST">
        <div class="form-group add-block-div">
            {% csrf_token %}
            {% render_field block_form.title rows="1" cols="1" placeholder="New BLock..." class="form-control add-block-form"  %}
            <button class="btn" type="submit" name="add-block-button"><i class="far fa-plus-square add-block-icon"></i></button>
        </div>
    </form>
</div>

<!-- Blocks List -->
<div class="card-columns blocks-list">
        <!-- Block Body -->
        {% if blocks %}
        {% for block in blocks %}
        <div class="card block-div container">
            <div class="card-body task-list">
                <h5 class="card-title task-title">{{block.title}}</h5>
                <ul class="task-list">
                    {% for task in tasks %}
                    {% if task.block == block %}
                    <li class="form-check task-item">
                        <input type="checkbox" class="form-check-input task-checkbox" name="" id="">
                        <p class="task-description">{{task.description}}</p>
                        <a href="del-task-{{task.id}}"><i class="fas fa-times del-task-icon"></i></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <!-- Add Task Form -->
                    <form method="POST" id="test-form" >
                        <div class="form-group add-task-div">
                            {% csrf_token %}
                            {% render_field task_form.description type="input" rows="1" cols="1" placeholder="New Task..." class="form-control-sm form-control add-task-form"  %}
                            <button class="btn" type="submit" name="add-task-button-{{block.title}}"><i class="far fa-plus-square add-task-form-icon"></i></button>
                        </div>
                    </form>
                </ul>   
            </div>
            <a href="del-block-{{block.id}}"><i class="fas fa-times del-block-icon"></i></a>
        </div>
        {% endfor %}
        {% endif %}
</div>

{% endblock %}