<!-- tasks index -->

{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/tasks.css' %}">

<div class="container add-div-block">
    <!-- Add Note -->
    <div class="col-5 add-div">
        <input class = "form-control" type= "text" name="add-div-title" id="add-div-title" placeholder="Add new block...">
        <i class="far fa-plus-square add-task-bar-icon"></i>
    </div>
</div>

<div class="card-columns blocks-list">
        
        {% if blocks %}
        {% for block in blocks %}
        <div class="card block-div">
            <div class="card-body task-list">
                <h5 class="card-title task-title">{{block.title}}</h5>
                <ul class="task-list">
                    {% for task in tasks %}
                    {% if task.block == block %}
                    <li class="task-item">
                        <input type="checkbox" name="" id="">
                        {{task.description}}
                        <!-- <a class="" href="#"><i class="far fa-edit task-edit-icon"></i></a>-->
                        <a class="del-task-icon" href="delete-task-{{task.id}}"><i class="fas fa-times task-edit-icon"></i></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <!-- Add Task Form -->
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %}
                            {% render_field form.description type="textarea" rows="1" cols="4" placeholder="New Task..." class="form-control add-task-form"  %}
                            <button class="btn" type="submit" name="{{block.title}}"><i class="far fa-plus-square add-task-form-icon"></i></button>
                        </div>
                    </form>
                </ul>   
            </div>
        </div>
        {% endfor %}
        {% endif %}
</div>

{% endblock %}